.icon-loc {
  width: 0.81em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-skype {
  width: 0.92em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-sss {
  width: 1.45em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
