.screen
   position: relative
   margin-top: -36px
   padding: 100px 0 65px
   +md
      padding: 50px 0 25px
   
   &__inner
      position: relative
      display: flex
      justify-content: space-between
      +sm
         flex-direction: column
   
   &__bg
      position: absolute
      top: -60px
      left: 0
      right: 0
      height: 538px
      z-index: -1
      +cover
   
   &__title
      margin-bottom: 28px
      font-size: 50px
      line-height: 50px
      +md
         font-size: 42px
         line-height: 44px
      +sm
         margin-bottom: 20px
         font-size: 34px
         line-height: 32px
         
   &__text
      position: relative
      z-index: 2
      flex: 0 1 440px
      padding: 15px 15px 0 0
      +sm
         flex: 0 1 auto
         margin-bottom: 25px
         padding: 0
         text-align: center
   
   &__form-wrap
      position: relative
      z-index: 2
      flex: 0 0 360px
      +sm
         flex: 0 1 auto
      .order-form
         +sm
            background: rgba(255, 255, 255, 0.8)
      
   &__img
      bottom: -18px
      left: 50%
      margin-left: -484px
      width: percentage(680 / 1140)
      +ratio(680, 473)
      position: absolute
      +cover
      +md
         margin-left: -400px
      +sm
         transform: translateX(-50%)
         bottom: auto
         top: 45%
         width: 100%
         margin-left: 0

.classes-age
   padding: 0 0 40px
   +sm
      padding: 30px 0
   
   &__section-title
      margin-bottom: 25px
      .section-title__top
         bottom: 14px
      .section-title__back
         padding-top: 7px
         margin-left: -40px
         
   &__inner
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin: 0 -15px
   
   &__item
      $parent: &
      flex: 0 0 calc(25% - 30px)
      margin: 0 15px 30px
      width: calc(25% - 30px)
      height: 263px
      min-width: 262px
      +cover
      overflow: hidden
      border-radius: 3px
      box-shadow: 0 0 5px rgba($gray, .9)
      cursor: default
      +md
         cursor: pointer
      &:hover
         #{$parent}-content
            transform: translateY(0)
         #{$parent}-content::before
            opacity: 1
         #{$parent}-content::after
            width: 1000%
            transform: translate(-50%, -40px)
            background: rgba($yellow, .9)
      
      &-content
         transform: translate3d(0, 57%, 0)
         position: relative
         display: flex
         flex-direction: column
         align-items: center
         justify-content: center
         height: 100%
         text-align: center
         transition: .6s ease
         &::before
            opacity: 0
            pointer-events: none
            position: absolute
            top: 13px
            left: 13px
            right: 13px
            bottom: 13px
            border: 1px solid rgba(#292929, .2)
            content: ''
            transition: .6s ease
         &::after
            position: absolute
            top: 30px
            left: 50%
            transform: translate3d(-50%, 0, 0)
            z-index: -1
            width: 210%
            height: 110%
            border-radius: 50%
            background: rgba($white, .8)
            transition: .6s ease
            content: ''
      
      &-title
         position: relative
         margin-bottom: 30px
         padding-bottom: 38px
         +f('os', 600, 20)
         &::after
            position: absolute
            bottom: 0
            left: 50%
            margin-left: -34px
            width: 68px
            height: 1px
            background: $black
            content: ''
      
      &-btn
         padding: 13px 42px
         
.classes-lang
   padding: 70px 0 40px
   background: #f5f5f5
   +sm
      padding: 50px 0 30px
   &__section-title
      margin-bottom: 23px
      +md
         margin-bottom: 40px
      +sm
         margin-bottom: 30px
      .section-title__back
         +md
            padding-top: 20px
      .section-title__top
         bottom: 15px
         +md
            bottom: -15px
            
   &__inner
      display: flex
      justify-content: center
      flex-wrap: wrap
      margin: 0 -15px
      
   &__flag
      $parent: &
      position: relative
      display: flex
      align-items: center
      justify-content: center
      flex: 0 0 calc(25% - 30px)
      width: calc(25% - 30px)
      min-width: 262px
      margin: 0 15px 30px
      height: 120px
      +cover
      +sm
         margin: 0 15px 20px
         
      &:hover
         &::before
            opacity: 1
         &::after
            box-shadow: 0 5px 7px rgba(124, 53, 102, 0.38)
            background-color: #a06396
            background-image: linear-gradient(45deg, rgba(62, 19, 116, 0.31) 0%, rgba(164, 34, 143, 0.31) 100%)
            opacity: 0.9
         #{$parent}-title
            color: $white
         
      &::before
         opacity: 0
         position: absolute
         top: 9px
         left: 9px
         right: 9px
         bottom: 9px
         z-index: 1
         border: 1px solid rgba($white, .2)
         content: ''
         transition: .2s ease
      &::after
         +coverdiv
         background: rgba($white, .8)
         transition: .2s ease
         content: ''
         
      &-title
         z-index: 1
         +f('os', 600, 20)
         color: rgba($black, .5)
         transition: .2s ease
         
.get-course
   position: relative
   padding: 85px 0 120px
   box-shadow: 0 2px 5px rgba(79, 79, 79, 0.15)
   text-align: center
   +md
      padding: 70px 0 80px
   +sm
      padding: 50px 0 60px
   
   &__bg
      +coverdiv
      z-index: -1
      opacity: .1
      +cover

   &__section-title
      max-width: 800px
      margin: 0 auto 80px
      +md
         margin: 0 auto 110px
      +sm
         margin: 0 auto 50px
      .section-title__top
         bottom: -33px
         +md
            bottom: -75px
         +sm
            line-height: 40px
      .section-title__back
         padding-top: 0
         margin-top: -10px
         +md
            padding-top: 10px
            margin-top: 0
         
.about-counts
   position: relative
   padding: 70px 0 50px
   overflow: hidden
   background: #f5f5f5
   +sm
      padding: 50px 0 20px
      
   &__container
      z-index: 1
   
   &__section-title
      margin-bottom: 50px
      +md
         margin-bottom: 70px
      +sm
         margin-bottom: 40px
      .section-title__top
         +md
            bottom: -20px
         +sm
            font-size: 36px
   
   &__inner
      display: flex
      z-index: 1
      flex-wrap: wrap
      margin: 0 -15px
   
   &__item
      flex: 0 1 50%
      padding: 0 15px 100px
      max-width: 585px
      font-size: 0
      +md
         padding: 0 15px 60px
      +sm
         display: flex
         flex-direction: column
         align-items: center
         flex: 1 1 auto
      &-number
         position: relative
         display: inline-block
         vertical-align: middle
         +sm
            margin-bottom: 45px
         span
            color: transparent
            background-image: linear-gradient(45deg, rgba(62, 19, 116, 0.7) 0%, rgba(164, 34, 143, 1) 100%)
            -webkit-background-clip: text
            +f('yes', 400, 80, 80)
            +md
               font-size: 40px
               line-height: 40px
            
            .ie &
               background-image: none
               color: #994e92
               
            &:nth-child(2)
               position: absolute
               top: 90%
               left: 0
               min-width: 210px
               +md
                  min-width: 110px
               &::after
                  +coverdiv
                  background-image: linear-gradient(to top, #f5f5f5 12%, #f5f5f5ad 60%, transparent)
                  content: ''
                  .ie &
                     background-image: none
         sup
            top: -0.2em
            margin-left: -0.3em
            font-size: 100%
            line-height: 1
            -webkit-background-clip: text
            background-image: linear-gradient(45deg, rgba(62, 19, 116, 0.7) 0%, rgba(164, 34, 143, 1) 100%)
            .ie &
               background-image: none
               color: #994e92
               
      &-descr
         display: inline-block
         vertical-align: middle
         padding-left: 36px
         width: 62%
         +md
            position: relative
            z-index: 1
            width: 70%
            padding-left: 46px
         +sm
            width: 100%
            padding-left: 0
            text-align: center
         
         .ie &
            width: 58%
   
         &_sm
            width: 50%
         &_lg
            width: 67%
         p
            font-size: 19px
            line-height: 35px
            +md
               font-size: 16px
               line-height: 25px
            
   &__circle
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      border: 1px solid rgba($gray, .8)
      +md
         border-color: rgba($gray, .4)
      &_1
         width: 358px
         height: 358px
         
      &_2
         width: 705px
         height: 705px
         border-color: rgba($gray, .6)
      &_3
         width: 1088px
         height: 1088px
         border-color: rgba($gray, .6)
      &_4
         width: 1432px
         height: 1432px
         border: 1px dashed rgba($gray, .5)
         
.first-step
   margin-top: -120px
   padding: 190px 0 170px
   +cover
   +lg
      padding: 180px 0 140px
   +md
      padding: 170px 0 110px
   +sm
      padding: 160px 0 50px
   &__container
      display: flex
      justify-content: space-between
      align-items: flex-start
      +md
         flex-direction: column
      
   &__section-title
      flex: 0 0 640px
      text-align: left
      +md
         flex: 0 1 auto
         margin: 0 0 110px
         width: 100%
      +sm
         margin: 0 0 30px
      &::after
         top: 5px
         left: 0
         margin-left: 0
         content: ''
      .section-title__top
         bottom: -70%
         font-size: 55px
         line-height: 60px
         +sm
            font-size: 31px
            line-height: 34px
      .section-title__back
         margin-left: -16px
         padding-top: 50px
         font-size: 110px
         +md
            padding-top: 60px
            margin-left: 0
   
   &__form-wrap
      flex: 0 0 360px
      margin-right: 97px
      +md
         flex: 0 1 auto
         margin-right: 0
      +sm
         width: 100%
         
      .order-form
         border: 1px solid rgba(#d7d7d7, .5)
         background: rgba($white, .5)
         &__input
            background: rgba($white, .5)
            
.reviews
   padding: 70px 0 0
   +cover
   +sm
      padding: 50px 0 0
   &__container
      +md
         max-width: 860px
      
   &__section-title
      +md
         margin-bottom: 35px

.cost-contact
   $parent: &
   position: relative
   height: 588px
   padding-top: 53px
   overflow: hidden
   +cover
   +sm
      height: auto
      padding: 50px 0
      background: #f5f5f5
   &__container
      pointer-events: none
   
   &__map
      &-wrap
         +coverdiv
         +sm
            display: none
   
   &__inner
      max-width: 830px
      +md
         max-width: 500px
      #{$parent}_contacts &
         +md
            max-width: 600px
            margin: 0 auto
      
   &__section-title
      margin-bottom: 142px
      text-align: left
      +md
         margin-bottom: 25px
      #{$parent}_contacts &
         +md
            text-align: center
      &::after
         top: 20px
         left: 0
         margin-left: 0
         +md
            display: none
      .section-title__top
         bottom: -102px
         +md
            position: static
            font-size: 33px
            line-height: 30px
         +sm
            font-size: 28px
      .section-title__back
         margin-left: -15px
         font-size: 93px
         color: rgba($black, .1)
         +md
            display: none
         
   &__form-wrap
      pointer-events: auto
      max-width: 654px
      +md
         max-width: 375px
      +sm
         max-width: none
      .check-box__square
         +md
            margin-right: 15px
            
      #{$parent}_contacts &
         +md
            margin: 0 auto
      
.contact-map
   +coverdiv
   &__content
      display: flex
      align-items: center
      min-width: 120px
      height: 30px
      white-space: nowrap
      
   .ymaps-2-1-64-balloon
      box-shadow: none!important
   .ymaps-2-1-64-balloon__layout
      border-radius: 20px!important
   .ymaps-2-1-64-balloon__content
      padding: 0 16px !important
   .ymaps-2-1-64-balloon__tail
      display: none !important