.lang-screen
   margin-top: -90px
   &__container
      padding: 225px 15px 100px
   &__text
      display: flex
      align-items: center
      justify-content: space-between
      color: $white
   &__title
      font-size: 50px
      line-height: 50px
   &__descr
      flex: 0 0 440px
      +f('os', 600)
      text-transform: uppercase
      
   &__nav
      padding: 20px 0 10px
      background-color: rgba($white, .8)
      background-image: linear-gradient(to top, $white 40%, transparent 100%)
      &-container
      ul
         display: flex
         flex-wrap: wrap
         margin: 0 -5px
         li
            flex: 1 1 auto
            padding: 0 5px 10px
            text-align: center
            &:nth-last-of-type(1),
            &:nth-last-of-type(2),
            &:nth-last-of-type(3)
               flex: 1 1 33.33333%
            a
               position: relative
               display: block
               padding: 11px 5px
               border-radius: 3px
               border: 1px solid #a2a2a2
               font-size: 15px
               transition: .4s ease
               &::after
                  opacity: 0
                  pointer-events: none
                  +coverdiv
                  background-color: #a06396
                  background-image: linear-gradient(45deg, rgba(62, 19, 116, 0.41) 0%, rgba(164, 34, 143, 0.41) 100%)
                  transition: .4s ease
                  content: ''
               .no-touch &:hover
                  color: $white
                  box-shadow: 0 6px 9px rgba(141, 69, 142, 0.5)
                  border-radius: 3px
                  &::after
                     opacity: 1
               span
                  position: relative
                  z-index: 1