extends ../extend/default

block variables
	-title = 'Страница языка';
	-contactMap = false;

block main
	main.content

		//begin lang-screen
		+b.SECTION.lang-screen
			+e.bg(style='background-image: url(static/img/bg/lang-screen_bg.jpg)')
			+e.container.container
				+e.text
					+e.title.title
						h2 Английский язык
					+e.descr
						p УВЛЕКАТЕЛЬНЫЕ ЗАНЯТИЯ С НОСИТЕЛЯМИ ЯЗЫКА НА КАЖДОМ УРОВНЕ ПОДГОТОВКИ

			+e.nav.nav-links.nav-links_lang-screen
				+e.nav-container.container
					-
						navList = [
						'Для дошкольников',
						'Для младших школьников',
						'Для средней школы',
						'Для старшей школы',
						'Для взрослых',
						'Международные экзамены',
						'Групповое обучение',
						'Индивидуальное обучение',
						'Корпоративное обучение'
						]
					ul
						for navText in navList
							li: a(href='#!')
								span= navText
		//begin lang-screen

		//begin advantage
		+b.SECTION.advantage(style='background-image: url(static/img/bg/advantage_bg.jpg)')
			+e.container.container
				+b.section-title.advantage__section-title
					+e.top
						h2 Какие преимущества дает знание английского языка
					+e.back
						h2 Advantages of English
				+e.inner
					+e.item
						+e.item-title
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='85', height='88', viewbox='0 0 85 88')
								defs
									path#ducua(d='M438.84 1128.4a1.57 1.57 0 0 1-2.03.9l-7.39-2.85-6.4 9.6a4.63 4.63 0 0 1-6.28 1.39l1.38 31.55c.04.86-.63 1.6-1.5 1.63h-.07c-.83 0-1.53-.65-1.56-1.5l-1.28-29.25h-3.56l-1.28 29.25c-.03.85-.73 1.5-1.56 1.5h-.07a1.57 1.57 0 0 1-1.5-1.63l1.37-31.55a4.63 4.63 0 0 1-6.28-1.4l-6.4-9.59-8.38 3.23a7.66 7.66 0 0 0-3.04 2.14l5.75 5.75a10.73 10.73 0 0 1 3.16 7.64v23.85a1.57 1.57 0 0 1-3.13 0v-23.85c0-2.05-.8-3.98-2.25-5.43l-5.1-5.09a7.66 7.66 0 0 0-.3 2.46l1.28 31.84a1.57 1.57 0 0 1-3.13.13l-1.28-31.85a10.8 10.8 0 0 1 6.91-10.51l8.99-3.47 4.58-4.58c.3-.3.69-.45 1.08-.46v-3.74a16.9 16.9 0 0 1-4.32-8.53c-.4.02-.8 0-1.2-.09a4.8 4.8 0 0 1-3.72-4.75v-1.19a4.8 4.8 0 0 1 2.7-4.37 40.95 40.95 0 0 1-1.16-9.64c0-7.6 5.43-8.97 7.34-9.22a21.96 21.96 0 0 1 12.63-4.67c7.38-.4 13.18 1.59 16.78 5.74 3.73 4.3 4.92 10.75 3.45 18.67.9.88 1.46 2.12 1.46 3.48v1.2a4.8 4.8 0 0 1-3.72 4.75 4.62 4.62 0 0 1-1.2.1 16.9 16.9 0 0 1-4.33 8.52v3.74c.4.01.79.16 1.08.46l4.59 4.58 7.99 3.08c.8.32 1.2 1.22.9 2.03zm-26.91-11.69c6.67 0 12.39-4.76 13.6-11.31a3.13 3.13 0 0 1 3.25-2.55c.13 0 .26 0 .4-.03.7-.14 1.21-.86 1.21-1.68v-1.2c0-.79-.53-1.49-1.23-1.63a3.66 3.66 0 0 0-1.27.1 2.63 2.63 0 0 1-3.03-1.56l-1.22-2.93c-4.23.85-17.2 2.67-23.73-5.44a1.57 1.57 0 1 1 2.45-1.97c6.42 8 21.67 4.11 21.82 4.07.76-.2 1.54.2 1.84.92l1.58 3.77c.52-.1 1.04-.13 1.5-.1 1.1-6.61.12-11.9-2.85-15.33-2.94-3.4-7.86-5-14.24-4.66-6.96.38-11.03 4.15-11.07 4.2-.3.27-.68.42-1.08.42 0 0-1.29.03-2.5.8-1.56.99-2.36 2.79-2.36 5.34 0 4.29.78 7.8 1.2 9.38.68.18 1.31.52 1.85.99a8.94 8.94 0 0 0 1.74-2.02 1.57 1.57 0 0 1 2.65 1.68 11.95 11.95 0 0 1-3.21 3.39 2.23 2.23 0 0 1-3.05-.48 1.5 1.5 0 0 0-1.49-.57c-.69.12-1.23.84-1.23 1.64v1.19c0 .82.52 1.54 1.22 1.68.13.03.27.04.4.03 1.54-.11 2.97 1 3.25 2.55a13.82 13.82 0 0 0 13.6 11.31zm-2.3 13.97l-9.96-8.71-2.67 2.67 6.44 9.67a1.5 1.5 0 0 0 2.33.23zm3.94 6.05l-.1-2.37-1.54-1.54-1.54 1.54-.1 2.37zm7.58-16.27v-3.34a16.92 16.92 0 0 1-18.44 0v3.34l9.22 8.06zm5.71 4.18l-2.68-2.67-9.96 8.7 3.86 3.87c.44.44.96.46 1.22.43a1.5 1.5 0 0 0 1.11-.66zM475 1145.6v4.66c0 1.71-.58 3.36-1.68 4.88v17.44a6.43 6.43 0 0 1-6.42 6.42h-37.22a6.43 6.43 0 0 1-6.42-6.42v-17.44a8.28 8.28 0 0 1-1.68-4.88v-4.66a6.6 6.6 0 0 1 6.6-6.59h10.16v-3.46c0-2.71 2.2-4.92 4.92-4.92h10.06c2.71 0 4.92 2.21 4.92 4.92v3.46h10.16a6.6 6.6 0 0 1 6.6 6.6zm-33.52-6.6h13.62v-3.45c0-.98-.8-1.78-1.78-1.78h-10.06c-.98 0-1.78.8-1.78 1.78zm30.38 6.6c0-1.9-1.55-3.45-3.46-3.45h-40.22a3.46 3.46 0 0 0-3.46 3.45v4.66c0 2.69 2.54 5.36 6.92 7.35v-.28c0-.87.7-1.57 1.56-1.57h6.7c.87 0 1.58.7 1.58 1.57v3a49.27 49.27 0 0 0 8.44.43c.87-.03 1.59.65 1.61 1.52.03.86-.65 1.59-1.51 1.62a54.74 54.74 0 0 1-8.67-.43 4.93 4.93 0 0 1-9.71-1.12v-1.34a24.29 24.29 0 0 1-5.25-2.81v14.38a3.3 3.3 0 0 0 3.3 3.28h37.2a3.3 3.3 0 0 0 3.3-3.28v-14.38c-1.45 1.05-3.21 2-5.25 2.81v1.34a4.92 4.92 0 0 1-9.84 0v-5.02c0-.87.7-1.57 1.57-1.57h6.7c.87 0 1.57.7 1.57 1.57v.28c4.38-2 6.92-4.66 6.92-7.35zm-13.62 13.3v3.45a1.79 1.79 0 0 0 3.57 0v-3.45zm-21.68 5.24c.98 0 1.78-.8 1.78-1.79v-3.45h-3.57v3.45c0 .99.8 1.79 1.79 1.79z')
								g
									g(clip-path='url(#clip-2411)', transform='translate(-390 -1081)')
										use(fill='#784288', xlink:href='#ducua')

							+e.item-title-text
								h4 Работа
						+e.item-descr
							p Знание английского языка (особенно хорошее) способно неплохо помочь карьере, а так же отлично обогатить резюме, сделав вас куда более ценным сотрудником

					+e.item
						+e.item-title
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='83', height='85', viewbox='0 0 83 85')
								defs
									path#augga(d='M1058 1088.96v71a4.97 4.97 0 0 1-4.96 4.97h-13.53a1.58 1.58 0 1 1 0-3.17h13.53c.99 0 1.8-.8 1.8-1.8v-71c0-.99-.81-1.8-1.8-1.8h-98.08c-.99 0-1.8.81-1.8 1.8v71c0 1 .81 1.8 1.8 1.8h60.88a1.58 1.58 0 0 1 0 3.17h-60.88a4.97 4.97 0 0 1-4.96-4.97v-71a4.97 4.97 0 0 1 4.96-4.96h98.08a4.97 4.97 0 0 1 4.96 4.96zm-6.76 13.53v43.95c0 .87-.71 1.58-1.59 1.58a8.57 8.57 0 0 0-8.56 8.56 1.58 1.58 0 1 1-3.16 0c0-5.93 4.42-10.84 10.14-11.62v-41c-5.2-.7-9.33-4.83-10.04-10.04h-68.06c-.7 5.2-4.84 9.34-10.04 10.04v41c5.2.7 9.33 4.84 10.04 10.04h45.87a1.58 1.58 0 1 1 0 3.16h-47.35c-.87 0-1.58-.7-1.58-1.58a8.57 8.57 0 0 0-8.56-8.56c-.88 0-1.59-.7-1.59-1.58v-43.95c0-.88.71-1.59 1.59-1.59a8.57 8.57 0 0 0 8.56-8.56c0-.87.7-1.58 1.58-1.58h71.02c.87 0 1.58.71 1.58 1.58a8.57 8.57 0 0 0 8.56 8.56c.88 0 1.59.71 1.59 1.59zm-91.3-10.15a1.59 1.59 0 0 1-3.17 0c0-.87.7-1.58 1.58-1.58h.01c.88 0 1.58.71 1.58 1.58zm91.31 64.24a1.59 1.59 0 0 1-3.17 0c0-.87.7-1.58 1.57-1.58h.02c.87 0 1.58.7 1.58 1.58zm-91.3 0a1.59 1.59 0 1 1-3.17 0c0-.87.7-1.58 1.57-1.58h.01c.88 0 1.58.7 1.58 1.58zm91.29-64.24a1.59 1.59 0 1 1-3.17 0c0-.87.7-1.58 1.57-1.58h.01c.88 0 1.59.71 1.59 1.58zm-11.84 47.34c0 4-2.01 7.53-5.07 9.64v19.1a1.58 1.58 0 0 1-2.46 1.31l-4.2-2.8-4.2 2.8a1.58 1.58 0 0 1-2.45-1.31v-19.1a11.72 11.72 0 1 1 18.38-9.64zm-8.24 11.2a11.7 11.7 0 0 1-6.98 0v14.58l2.61-1.74a1.58 1.58 0 0 1 1.76 0l2.61 1.74zm5.08-11.2a8.57 8.57 0 0 0-17.13 0 8.57 8.57 0 0 0 17.13 0zm-4.27 2.48a4.97 4.97 0 1 1-6.78-6.78 1.58 1.58 0 0 1 1.58 2.74 1.8 1.8 0 1 0 2.46 2.46 1.58 1.58 0 0 1 2.74 1.58zm-14.55-37.98c0 .87-.71 1.58-1.58 1.58h-23.68a1.58 1.58 0 1 1 0-3.16h23.68c.87 0 1.58.7 1.58 1.58zm-23.67 6.76c0 .87-.71 1.58-1.59 1.58h-6.76a1.58 1.58 0 1 1 0-3.16h6.76c.88 0 1.59.7 1.59 1.58zm30.43 0c0 .87-.7 1.58-1.58 1.58h-23.67a1.58 1.58 0 1 1 0-3.16h23.67c.87 0 1.58.7 1.58 1.58zm10.15 11.83c0 .88-.71 1.58-1.58 1.58h-57.5a1.58 1.58 0 1 1 0-3.16h57.5c.87 0 1.58.7 1.58 1.58zm-18.6 6.76c0 .88-.71 1.59-1.58 1.59h-25.37a1.58 1.58 0 1 1 0-3.17h25.37c.87 0 1.58.71 1.58 1.58zm-32.13 0c0 .88-.7 1.59-1.58 1.59h-6.77a1.58 1.58 0 1 1 0-3.17h6.77c.87 0 1.58.71 1.58 1.58zm28.75 6.77c0 .87-.71 1.58-1.59 1.58h-35.5a1.58 1.58 0 1 1 0-3.17h35.5c.88 0 1.59.71 1.59 1.59zm-11.84 6.76c0 .87-.7 1.58-1.58 1.58h-23.68a1.58 1.58 0 0 1 0-3.16h23.68c.87 0 1.58.7 1.58 1.58zm11.84 0c0 .87-.71 1.58-1.59 1.58h-5.07a1.58 1.58 0 0 1 0-3.16h5.07c.88 0 1.59.7 1.59 1.58z')
								g
									g(clip-path='url(#clip-2416)', transform='translate(-975 -1084)')
										use(fill='#784288', xlink:href='#augga')

							+e.item-title-text
								h4 Образование
						+e.item-descr
							p Если вы хотите учиться за рубежом, получить образование в университетах таких стран как Великобритания или США, то вам никак не обойтись без хорошего знания английского языка

					+e.item
						+e.item-title._mod
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='49', height='88', viewbox='0 0 49 88')
								defs
									path#cssta(d='M452.58 1359.83v15.96c0 .91-.71 1.64-1.6 1.64-.87 0-1.59-.73-1.59-1.64v-15.96c0-.15 0-.3-.02-.44l-4.07 4.18a3.48 3.48 0 0 0-.98 2.44v6.39c0 .9-.71 1.64-1.6 1.64-.88 0-1.6-.74-1.6-1.64V1366c0-1.8.69-3.49 1.93-4.76l4.9-5.04a5 5 0 0 0-1.54-1.1l-8.8-4.02-6.51 6.7v4.41c0 .91-.72 1.64-1.6 1.64-.88 0-1.6-.73-1.6-1.64v-4.41l-6.5-6.7-8.81 4.03a5 5 0 0 0-1.54 1.1l4.9 5.03a6.79 6.79 0 0 1 1.92 4.76v6.39c0 .9-.71 1.64-1.6 1.64-.87 0-1.59-.74-1.59-1.64V1366c0-.92-.35-1.79-.98-2.44l-4.07-4.18-.02.44v15.96c0 .91-.72 1.64-1.6 1.64-.88 0-1.6-.73-1.6-1.64v-15.96a8.46 8.46 0 0 1 4.88-7.71l8.99-4.1a1.76 1.76 0 0 0 1.01-1.61v-2.51a13.65 13.65 0 0 1-4.96-10.57v-.68a3.42 3.42 0 0 1-1.65-2.98v-3.14c0-7.46 5.9-13.53 13.17-13.53h3.3c7.26 0 13.17 6.07 13.17 13.53v.35c0 1.23-.66 2.33-1.65 2.9v3.55c0 4.27-1.94 8.08-4.96 10.57v2.5c0 .7.4 1.33 1.01 1.61l8.99 4.1a8.46 8.46 0 0 1 4.87 7.72zm-17.4-10.89a5.14 5.14 0 0 1-.66-2.53v-.57a12.78 12.78 0 0 1-10.04 0v.57c0 .9-.24 1.78-.67 2.53l5.69 5.85zm4.3-15.61v-2.82c-4.29.52-11.27.41-16.07-4.52a1.67 1.67 0 0 1 0-2.32 1.57 1.57 0 0 1 2.26 0c1.56 1.6 6.19 5.14 15.43 3.26 0 0 .03-.02.03-.05v-.35c0-5.65-4.48-10.25-9.98-10.25h-3.3c-5.5 0-9.98 4.6-9.98 10.25v3.15l.01.08c.74-.2 1.5-.67 2.27-1.4a1.57 1.57 0 0 1 2.26.1c.6.66.56 1.7-.1 2.32a9.17 9.17 0 0 1-2.78 1.87v.68c0 5.65 4.47 10.25 9.97 10.25 5.5 0 9.97-4.6 9.97-10.25zm14.3 77.26a1.56 1.56 0 0 1-2.18.6l-4.4-2.61a21.33 21.33 0 0 1-16.1 9.56v5.22c0 .9-.72 1.64-1.6 1.64-.88 0-1.6-.73-1.6-1.64v-5.22a21.33 21.33 0 0 1-16.1-9.56l-4.4 2.61a1.59 1.59 0 0 1-2.18-.6 1.67 1.67 0 0 1 .58-2.24l4.4-2.61a22.4 22.4 0 0 1-2.13-9.56c0-3.42.76-6.67 2.12-9.56l-4.4-2.61a1.67 1.67 0 0 1-.58-2.24 1.57 1.57 0 0 1 2.18-.6l4.4 2.61a21.33 21.33 0 0 1 16.11-9.56V1369c0-.9.72-1.64 1.6-1.64.88 0 1.6.73 1.6 1.64v5.21c6.68.51 12.52 4.19 16.1 9.57l4.4-2.61a1.57 1.57 0 0 1 2.19.6c.44.78.18 1.79-.59 2.24l-4.4 2.6a22.4 22.4 0 0 1 2.13 9.57c0 3.42-.76 6.67-2.12 9.56l4.4 2.6c.76.46 1.02 1.46.58 2.25zm-6.04-14.41c0-10.34-8.18-18.75-18.24-18.75-10.06 0-18.24 8.41-18.24 18.75 0 10.33 8.18 18.74 18.24 18.74 10.06 0 18.24-8.4 18.24-18.74zm-5.4 7.61a1.59 1.59 0 0 1-2.19.6l-7.44-4.41c-.47.42-1.01.75-1.61.96v8.83c0 .9-.72 1.64-1.6 1.64-.88 0-1.6-.73-1.6-1.64v-8.83a4.87 4.87 0 0 1-1.61-.96l-7.44 4.42a1.56 1.56 0 0 1-2.18-.6 1.67 1.67 0 0 1 .58-2.25l7.44-4.41a5.18 5.18 0 0 1 0-1.92l-7.44-4.41a1.67 1.67 0 0 1-.58-2.25 1.57 1.57 0 0 1 2.18-.6l7.44 4.42a4.87 4.87 0 0 1 1.61-.96v-8.83c0-.9.72-1.64 1.6-1.64.88 0 1.6.73 1.6 1.64v8.83c.6.21 1.14.54 1.61.96l7.44-4.42a1.57 1.57 0 0 1 2.18.6c.44.79.18 1.8-.58 2.25l-7.44 4.4a5.19 5.19 0 0 1 0 1.93l7.44 4.41c.76.46 1.02 1.46.58 2.24zm-11.13-7.61c0-.97-.77-1.76-1.71-1.76s-1.71.79-1.71 1.76.77 1.76 1.71 1.76 1.7-.8 1.7-1.76z')
								g
									g(clip-path='url(#clip-2421)', transform='translate(-405 -1318)')
										use(fill='#784288', xlink:href='#cssta')

							+e.item-title-text
								h4 Путешествия
						+e.item-descr
							p Изучение английского дает море возможностей для путешественника. Для человека который знает английский не существует границ, вы легко сможете поехать отдыхать куда захотите

					+e.item
						+e.item-title
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='83', height='88', viewbox='0 0 83 88')
								defs
									path#qmxya(d='M1058 1335.32v57.02c0 4.31-3.5 7.82-7.8 7.82h-25.14l1.09 6.54h1.9a4.65 4.65 0 0 1 0 9.3h-41.1a4.65 4.65 0 0 1 0-9.3h1.9l1.09-6.54H964.8c-4.3 0-7.8-3.5-7.8-7.82v-57.02c0-4.31 3.5-7.82 7.8-7.82h34.9v-1.68c0-4.31 3.5-7.82 7.8-7.82s7.8 3.5 7.8 7.82v1.68h34.9c4.3 0 7.8 3.51 7.8 7.82zm-55.35-1.48h9.7v-8.02a4.86 4.86 0 0 0-9.7 0v3.17zm-36.37 2.96v54.06h4.95v-8.25a6.2 6.2 0 0 1 3.44-5.58l5.12-2.56c.57-.29.93-.87.93-1.5v-3.27a10.99 10.99 0 0 1-4.74-9.04v-3.16c0-3.87 2-7.27 5.02-9.23a6.24 6.24 0 0 1 5.94-8.1 6.24 6.24 0 0 1 5.94 8.1 10.99 10.99 0 0 1 5.03 9.23v3.16c0 3.75-1.88 7.06-4.74 9.04v3.26c0 .64.35 1.22.93 1.5l5.11 2.57a6.2 6.2 0 0 1 3.44 5.58v8.25h4.95v-44.45a1.48 1.48 0 1 1 2.96 0v15.94h9.24l5.2-2.6v-2.3a7.82 7.82 0 0 1-3.17-6.29v-3.17-.05-.01a7.82 7.82 0 0 1 7.8-7.76c4.31 0 7.81 3.51 7.81 7.82v3.17a7.82 7.82 0 0 1-3.16 6.28v2.25c0 .03.02.07.06.09l5.14 2.57h9.24v-25.55h-38.16v3.27a1.48 1.48 0 1 1-2.96 0v-3.27zm73.2 54.06h9.24v-25.55h-38.16v25.55h9.24l5.2-2.6v-2.31a7.81 7.81 0 0 1-3.17-6.28v-3.17-.05-.02a7.82 7.82 0 0 1 7.8-7.75c4.31 0 7.81 3.51 7.81 7.82v3.17a7.81 7.81 0 0 1-3.16 6.28v2.24c0 .04.02.08.06.1zm-8.16-2.67v-.89a7.77 7.77 0 0 1-3.36 0v1.87c0 .56-.32 1.08-.82 1.33l-.73.36h6.47a3.05 3.05 0 0 1-1.56-2.67zm3.16-8.52v-.13c-3.9-.14-7.57-.77-9.69-1.2v1.33a4.86 4.86 0 0 0 9.7 0zm0-3.1v-.07a4.86 4.86 0 0 0-9.55-1.15 60 60 0 0 0 9.55 1.22zm-9.69-25.41a4.86 4.86 0 0 0 9.7 0v-.13c-3.9-.13-7.58-.76-9.7-1.2zm9.7-3.1v-.07a4.86 4.86 0 0 0-9.56-1.15c1.89.4 5.64 1.08 9.55 1.22zm-3.17 11.63v-.9a7.82 7.82 0 0 1-3.36 0v1.87c0 .57-.32 1.08-.82 1.33l-.72.36h6.45a3.05 3.05 0 0 1-1.55-2.66zm-50.8 28.28v2.89h4.94v-10.58l-3.61-3.62c-.23.17-.48.33-.74.46l-5.11 2.56c-.27.13-.5.3-.71.48l.05.05 3.35 3.36a6.2 6.2 0 0 1 1.83 4.4zm-3.92-2.3l-2.4-2.42v7.61h3.36v-2.89c0-.87-.34-1.69-.96-2.3zm2.34-28.38c1-.33 2.38-1.01 3.8-2.43a1.48 1.48 0 0 1 2.22.16c.16.2 3.83 4.9 10 3.01v-.53a8.02 8.02 0 0 0-16.01-.2zm4.8-10.3a10.92 10.92 0 0 1 6.42 0 3.27 3.27 0 1 0-6.42 0zm-4.8 13.37v.3c0 4.43 3.59 8.03 8 8.03a8.02 8.02 0 0 0 8-7.59 11.75 11.75 0 0 1-8.5-1.12c-1.18-.64-2.1-1.39-2.75-2a11.86 11.86 0 0 1-4.76 2.38zm8 17.21l3.42-3.42c-.1-.38-.15-.78-.15-1.19v-1.8a10.91 10.91 0 0 1-6.53 0v1.8c0 .41-.06.8-.16 1.19zm1.48 2.71v10.58h4.95v-2.89a6.2 6.2 0 0 1 1.82-4.4l3.36-3.36.05-.05a3.25 3.25 0 0 0-.7-.48l-5.13-2.56c-.26-.13-.5-.29-.73-.46zm7.9 10.58h3.38v-7.61l-2.41 2.41a3.25 3.25 0 0 0-.96 2.31zm28.57 18.8h-3.16a1.48 1.48 0 0 1 0-2.96h1.42l-1.1-6.54h-29.11l-1.09 6.54h23.56a1.48 1.48 0 0 1 0 2.96h-28.47a1.69 1.69 0 0 0 0 3.38h41.12a1.69 1.69 0 0 0 0-3.38zm30.15-17.32v-57.02a4.86 4.86 0 0 0-4.85-4.85h-34.89v3.37h34.9c.81 0 1.47.66 1.47 1.48v57.02c0 .82-.66 1.48-1.48 1.48H964.8c-.81 0-1.48-.66-1.48-1.48v-57.02c0-.82.67-1.48 1.48-1.48h34.9v-3.37h-34.9a4.86 4.86 0 0 0-4.84 4.85v57.02a4.85 4.85 0 0 0 4.84 4.86h85.4a4.86 4.86 0 0 0 4.84-4.86zm-46.04-66.52a1.48 1.48 0 1 1-2.97 0c0-.82.65-1.48 1.47-1.48h.02c.81 0 1.48.66 1.48 1.48z')
								g
									g(clip-path='url(#clip-2427)', transform='translate(-975 -1318)')
										use(fill='#784288', xlink:href='#qmxya')

							+e.item-title-text
								h4 Личная жизнь
						+e.item-descr
							p Знание английского позволяет найти интересных собеседников и завести друзей по всему миру. Вы сможете общаться с американцами, англичанами и жителями многих других англоязычных стран не прибегая к переводчику или разговорнику

					+e.item
						+e.item-title
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='84', height='71', viewbox='0 0 84 71')
								defs
									path#p6fla(d='M445.3 1637.12c0 1.3-.44 2.6-1.33 3.88a13.78 13.78 0 0 1-3.28 3.23 26.28 26.28 0 0 1-10.24 4.21c-1.67.32-3.3.48-4.86.48-2.15 0-4.06-.3-5.7-.88a7.9 7.9 0 0 1-3.94-2.77 5.23 5.23 0 0 1-.94-3c0-1.6.67-3.2 2-4.75a17.02 17.02 0 0 1 4.65-3.64 27.73 27.73 0 0 1 14.24-3.38v-27.78l-23.2 5.73v33.56c0 .85-.7 1.54-1.56 1.54-.87 0-1.57-.7-1.57-1.54v-34.76c0-.72.5-1.33 1.19-1.5l26.33-6.51c.46-.11.97 0 1.35.28.37.3.6.75.6 1.22v31.48c0 .45-.2.88-.55 1.18-.34.29-.8.42-1.25.35a17.3 17.3 0 0 0-2.58-.18h-.02c-2.84 0-5.99.63-8.85 1.78-2.73 1.09-5.06 2.61-6.4 4.17-.82.97-1.25 1.92-1.25 2.76 0 .47.12.84.4 1.24.28.41.74.8 1.33 1.13 1.34.75 3.4 1.17 5.68 1.17h.04a24.43 24.43 0 0 0 11.4-2.93 13.01 13.01 0 0 0 4.39-3.63c.52-.76.8-1.5.8-2.14v-.1-.06l.02-.1v-.06l.03-.08.01-.06.03-.07c0-.03.02-.05.03-.08l.02-.04.04-.1.02-.01a1.57 1.57 0 0 1 2.93.76zm0-43.27v37.04c0 .86-.7 1.55-1.56 1.55-.86 0-1.57-.7-1.57-1.55v-37.04a1.77 1.77 0 0 0-2.21-1.7l-30.93 7.63c-.88.23-1.52.61-1.98 1.18-.4.5-.61 1.11-.61 1.8v40.54c0 .45-.2.88-.55 1.18-.34.29-.8.42-1.26.35-.81-.12-1.68-.18-2.57-.18h-.02c-2.84 0-5.99.63-8.85 1.78-2.74 1.1-5.07 2.61-6.4 4.17-.82.96-1.26 1.92-1.25 2.76 0 .47.12.84.4 1.24.28.41.74.8 1.33 1.13 1.34.75 3.4 1.17 5.67 1.17h.04a24.41 24.41 0 0 0 11.4-2.93 13.04 13.04 0 0 0 4.4-3.63c.52-.76.8-1.5.8-2.14 0-.86.7-1.55 1.56-1.55.86 0 1.57.7 1.57 1.55 0 1.3-.46 2.6-1.34 3.88a13.77 13.77 0 0 1-3.28 3.23 26.27 26.27 0 0 1-10.24 4.21c-1.67.32-3.3.48-4.87.48-2.14 0-4.05-.3-5.69-.88a7.9 7.9 0 0 1-3.94-2.77 5.23 5.23 0 0 1-.95-3c0-1.6.68-3.2 2-4.75a17.02 17.02 0 0 1 4.66-3.64 27.73 27.73 0 0 1 14.24-3.37v-38.83c0-1.36.46-2.68 1.29-3.72a6.64 6.64 0 0 1 3.68-2.26l30.93-7.64h.02a4.9 4.9 0 0 1 6.09 4.71zm-52.19 2.32v14.53a3.38 3.38 0 0 1-.65 1.85c-.34.5-.8.95-1.38 1.37-1.1.8-2.48 1.36-4 1.65-.64.12-1.27.19-1.88.19-.89 0-1.65-.12-2.34-.37a3.74 3.74 0 0 1-1.88-1.34 2.83 2.83 0 0 1-.5-1.62c0-.6.18-1.2.54-1.77.3-.47.68-.9 1.19-1.3.9-.73 2.08-1.3 3.39-1.67l.04-.01a1.56 1.56 0 0 1 1.98 1.49c.01.69-.46 1.3-1.14 1.5h-.04a5.29 5.29 0 0 0-2.7 1.54 1 1 0 0 0-.1.14l.05.03c.24.14.8.28 1.47.28h.04c.4 0 .85-.04 1.3-.13 1.48-.26 2.86-1.05 3.3-1.63a.9.9 0 0 0 .17-.28V1598.57l-11.34 5.04v13.45c0 .66-.22 1.3-.64 1.93-.35.5-.8.94-1.39 1.37a10.16 10.16 0 0 1-5.88 1.83 7 7 0 0 1-2.34-.36 3.74 3.74 0 0 1-1.87-1.35 2.83 2.83 0 0 1-.51-1.62c0-.6.18-1.2.54-1.77.3-.46.68-.89 1.19-1.3a9.61 9.61 0 0 1 3.44-1.68 1.57 1.57 0 0 1 1.93 1.08c.22.82-.27 1.68-1.1 1.9l-.03.01a5.29 5.29 0 0 0-2.71 1.54.9.9 0 0 0-.09.15l.05.02c.24.14.78.29 1.46.29h.04c.41 0 .85-.05 1.3-.13 1.48-.26 2.87-1.05 3.3-1.63a.92.92 0 0 0 .18-.29v-19.23a4.65 4.65 0 0 1 2.77-4.24l9.57-4.25a3.76 3.76 0 0 1 3.56.26 3.66 3.66 0 0 1 1.71 3.1zm-3.13-1v-2.48a.58.58 0 0 0-.28-.5.6.6 0 0 0-.57-.04l-9.57 4.26c-.56.25-.93.8-.93 1.4v2.4zm83.02 38.81v14.45c0 .66-.22 1.31-.65 1.93-.34.5-.8.94-1.38 1.37-1.1.8-2.48 1.36-4 1.65-.64.12-1.27.19-1.89.19-.87 0-1.64-.13-2.33-.37a3.75 3.75 0 0 1-1.88-1.35 2.84 2.84 0 0 1-.5-1.61c0-.6.18-1.2.54-1.78.3-.46.68-.89 1.19-1.3.9-.72 2.08-1.3 3.39-1.66l.04-.02c.14-.03.28-.05.42-.05a1.57 1.57 0 0 1 1.57 1.54c0 .7-.47 1.31-1.16 1.5h-.02a5.29 5.29 0 0 0-2.71 1.55l-.1.14a3.34 3.34 0 0 0 1.55.31h.01c.41 0 .85-.04 1.3-.13 1.48-.26 2.86-1.05 3.3-1.63a.9.9 0 0 0 .17-.29v-12.05l-11.34 5.05v13.45c0 .66-.22 1.3-.64 1.92-.35.5-.8.95-1.39 1.38a10.17 10.17 0 0 1-5.88 1.83 7 7 0 0 1-2.34-.37 3.74 3.74 0 0 1-1.87-1.34 2.82 2.82 0 0 1-.51-1.62c0-.6.18-1.2.54-1.77.3-.47.68-.9 1.19-1.3a9.6 9.6 0 0 1 3.43-1.68 1.57 1.57 0 0 1 1.99 1.49 1.56 1.56 0 0 1-1.18 1.5 5.3 5.3 0 0 0-2.71 1.54l-.1.14.06.03c.23.14.78.28 1.46.28h.04c.41 0 .85-.04 1.3-.12 1.48-.27 2.87-1.06 3.3-1.64a.92.92 0 0 0 .18-.28v-19.23a4.65 4.65 0 0 1 2.77-4.24l9.57-4.25a3.76 3.76 0 0 1 3.56.26 3.67 3.67 0 0 1 1.7 3.1zm-3.14-1v-2.48a.57.57 0 0 0-.27-.5.59.59 0 0 0-.57-.04l-9.57 4.25c-.56.25-.93.8-.93 1.42v2.39z')
								g
									g(clip-path='url(#clip-2432)', transform='translate(-389 -1589)')
										use(fill='#784288', xlink:href='#p6fla')

							+e.item-title-text
								h4 Развлечения
						+e.item-descr
							p Знание английского языка (особенно хорошее) способно неплохо помочь карьере, а так же отлично обогатить резюме, сделав вас куда более ценным сотрудником

					+e.item
						+e.item-title
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='82', height='88', viewbox='0 0 82 88')
								defs
									path#xvmoa(d='M1041.62 1616.94c0 5.14-1.39 10.17-4.02 14.57a29.12 29.12 0 0 1-10.54 10.3 7.38 7.38 0 0 0-3.9 6.4v11.26a4.5 4.5 0 0 1-4.5 4.45h-.1v1.62a4.5 4.5 0 0 1-4.52 4.46h-3.08a4.5 4.5 0 0 1-4.51-4.46v-1.62h-.1a4.5 4.5 0 0 1-4.52-4.45v-11.5a6.95 6.95 0 0 0-3.7-6.06 29 29 0 0 1-11.26-11.34 28.38 28.38 0 0 1 4.79-33.68 29.14 29.14 0 0 1 17.5-8.52 29.13 29.13 0 0 1 22.75 7.14 28.64 28.64 0 0 1 9.71 21.43zm-25.95 46.98h-6.34v1.62c0 .9.73 1.62 1.63 1.62h3.08c.9 0 1.63-.73 1.63-1.62zm4.62-8.91v-3.23h-15.58v3.23h9.33c.8 0 1.44.63 1.44 1.42 0 .78-.65 1.42-1.44 1.42h-9.33v1.62c0 .89.74 1.61 1.64 1.61h12.3c.9 0 1.64-.72 1.64-1.61v-1.62h-.1c-.8 0-1.44-.64-1.44-1.42 0-.79.64-1.42 1.44-1.42zm8.88-18.1a4.73 4.73 0 0 0-.92-.53l-3.98-1.75a21.5 21.5 0 0 1-11.77 3.48c-4.22 0-8.27-1.2-11.77-3.48l-3.98 1.75a4.7 4.7 0 0 0-.92.54 26.5 26.5 0 0 0 3.71 2.52 9.88 9.88 0 0 1 5.17 8.52v.97h15.58v-.73c0-3.63 2-6.94 5.33-8.85a26.38 26.38 0 0 0 3.55-2.44zm-23.38-22.28a8.53 8.53 0 0 1-2.62 1.67v.64a9.28 9.28 0 0 0 9.33 9.21 9.28 9.28 0 0 0 9.33-9.2v-2.57c-3.97.47-10.5.39-14.96-4.03a1.4 1.4 0 0 1 0-2 1.45 1.45 0 0 1 2.03 0c1.46 1.44 5.78 4.6 14.4 2.92.04 0 .06-.05.06-.1v-.3a9.28 9.28 0 0 0-9.32-9.21h-3.08a9.28 9.28 0 0 0-9.32 9.2v2.82c0 .07.01.1.02.13h.04c.7-.19 1.42-.61 2.13-1.27.59-.53 1.5-.5 2.04.08s.5 1.48-.08 2zm-.68 18.08l-1.15.5a18.63 18.63 0 0 0 8.54 2.06c3 0 5.91-.71 8.54-2.06l-1.15-.5a4.46 4.46 0 0 1-2.68-4.07v-.58a12.27 12.27 0 0 1-9.42 0v.58a4.46 4.46 0 0 1-2.68 4.07zm33.63-15.77a26.13 26.13 0 0 0-29.26-25.75 26.25 26.25 0 0 0-15.76 7.69 25.58 25.58 0 0 0-.03 36.1c.56-.5 1.2-.9 1.89-1.2l8.36-3.67c.59-.25.97-.83.97-1.47v-2.27a11.98 11.98 0 0 1-4.61-9.43v-.62a2.97 2.97 0 0 1-1.54-2.64v-2.81c0-6.65 5.47-12.05 12.2-12.05h3.08c6.73 0 12.2 5.4 12.2 12.05v.3c0 1.1-.61 2.08-1.54 2.58v3.2c0 3.8-1.8 7.21-4.61 9.42v2.27c0 .64.38 1.22.97 1.47l8.36 3.67c.69.3 1.32.7 1.9 1.2a25.55 25.55 0 0 0 7.43-18.03zm-24.8-42.52v9.11c0 .79-.65 1.42-1.44 1.42-.8 0-1.44-.63-1.44-1.42v-9.11c0-.78.65-1.42 1.44-1.42.8 0 1.44.64 1.44 1.42zm43.06 42.52c0 .79-.64 1.42-1.44 1.42h-9.23c-.8 0-1.44-.63-1.44-1.42 0-.78.65-1.42 1.44-1.42h9.23c.8 0 1.44.64 1.44 1.42zm-76.9 0c0 .79-.64 1.42-1.43 1.42h-9.23c-.8 0-1.44-.63-1.44-1.42 0-.78.64-1.42 1.44-1.42h9.23c.8 0 1.44.64 1.44 1.42zm63.87-29.06l-6.53 6.44a1.44 1.44 0 0 1-2.03 0 1.4 1.4 0 0 1 0-2l6.52-6.45a1.45 1.45 0 0 1 2.04 0 1.4 1.4 0 0 1 0 2.01zm-54.38 53.7l-6.52 6.44a1.44 1.44 0 0 1-2.04 0 1.4 1.4 0 0 1 0-2.01l6.53-6.45a1.45 1.45 0 0 1 2.03 0 1.4 1.4 0 0 1 0 2.01zm54.38 6.44a1.44 1.44 0 0 1-2.04 0l-6.52-6.45a1.4 1.4 0 0 1 0-2 1.45 1.45 0 0 1 2.03 0l6.53 6.44a1.4 1.4 0 0 1 0 2zm-54.38-53.7a1.44 1.44 0 0 1-2.03 0l-6.53-6.44a1.4 1.4 0 0 1 0-2.01 1.45 1.45 0 0 1 2.04 0l6.52 6.44a1.4 1.4 0 0 1 0 2.01z')
								g
									g(clip-path='url(#clip-2437)', transform='translate(-975 -1580)')
										use(fill='#784288', xlink:href='#xvmoa')

							+e.item-title-text
								h4 Расширение кругозора
						+e.item-descr
							p Знание английского позволяет одним из первых узнать о свежих зарубежных новостях, а не ждать пока их переведут и нтерпретируют местные СМИ. Читайте зарубежные журналы и прессу, смотрите ТВ программы

					+e.item
						+e.item-title
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='85', height='75', viewbox='0 0 85 75')
								defs
									path#ysoka(d='M474 1914.47v17.23c0 .72-.58 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-17.23c0-.15 0-.3-.02-.44l-3.45 3.48a2.86 2.86 0 0 0-.84 2.03v12.16c0 .72-.57 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-12.16c0-1.46.57-2.84 1.6-3.87l4.1-4.15c-.36-.39-.8-.7-1.31-.94l-7.37-3.3-5.46 5.51v18.91c0 .72-.58 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-18.9l-5.46-5.52-7.36 3.3c-.51.23-.95.55-1.33.94l4.12 4.15a5.45 5.45 0 0 1 1.59 3.87v12.16a1.3 1.3 0 0 1-2.58 0v-12.16c0-.77-.3-1.5-.83-2.03l-3.46-3.48-.02.44v17.23c0 .72-.58 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-17.23c0-2.7 1.59-5.16 4.04-6.26l7.49-3.36c.53-.23.87-.76.87-1.35v-2.07a11.04 11.04 0 0 1-4.13-8.62v-.58a2.73 2.73 0 0 1-1.38-2.41v-2.57a11 11 0 0 1 10.93-11.02h2.76a11 11 0 0 1 10.93 11.02v.28c0 1-.55 1.9-1.38 2.36v2.92c0 3.48-1.61 6.6-4.13 8.62v2.07c0 .59.34 1.12.87 1.35l7.5 3.36a6.86 6.86 0 0 1 4.03 6.26zm-14.4-8.89a4.1 4.1 0 0 1-.58-2.08v-.53a10.79 10.79 0 0 1-8.44 0v.53c0 .75-.2 1.47-.57 2.08l4.8 4.84zm3.56-12.77v-2.35c-3.56.43-9.4.35-13.4-3.68a1.3 1.3 0 0 1 0-1.84c.5-.5 1.32-.5 1.82 0 1.3 1.32 5.18 4.21 12.9 2.68.03 0 .05-.05.05-.09v-.28a8.4 8.4 0 0 0-8.35-8.42h-2.76a8.4 8.4 0 0 0-8.35 8.42v2.57l.02.12h.03a4.62 4.62 0 0 0 1.92-1.16 1.28 1.28 0 0 1 1.82.07 1.3 1.3 0 0 1-.07 1.84 7.62 7.62 0 0 1-2.34 1.53v.59a8.4 8.4 0 0 0 8.35 8.42 8.4 8.4 0 0 0 8.36-8.42zm-29.11 1.38v2.78c0 .72-.58 1.3-1.3 1.3h-.08v1.48a8.26 8.26 0 0 1-2.76 6.17v1.84c0 .56.31 1.07.81 1.32l1.23.62a1.3 1.3 0 0 1-.57 2.46c-.2 0-.4-.04-.58-.13l-1.23-.63a4.04 4.04 0 0 1-.64-.4l-3.15 3.18v17.52c0 .72-.58 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-17.52l-3.15-3.18c-.2.15-.41.29-.64.4l-6.98 3.52 2.12 2.14a5.45 5.45 0 0 1 1.58 3.86v10.78c0 .72-.57 1.3-1.28 1.3a1.3 1.3 0 0 1-1.3-1.3v-10.78c0-.76-.29-1.48-.83-2.02l-2-2.03c-.06.24-.1.48-.1.74v14.09c0 .72-.57 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-14.1a5.44 5.44 0 0 1 3-4.88l7.22-3.64c.5-.25.8-.76.8-1.32v-1.84a8.26 8.26 0 0 1-2.75-6.17v-1.48h-.09a1.3 1.3 0 0 1-1.29-1.3v-2.78a8.22 8.22 0 0 1 8.18-8.24h2.76c4.5 0 8.18 3.7 8.18 8.24zm-6.58 14.61a4.14 4.14 0 0 1-.14-1.04v-.28a8.07 8.07 0 0 1-5.68 0v.28c0 .36-.05.7-.14 1.04l2.98 3zm2.62-10.66a22.76 22.76 0 0 1-8.18-2.35c-1.07.92-2.12 1.5-3.02 1.87v2.1a5.63 5.63 0 0 0 5.6 5.64c3.09 0 5.6-2.54 5.6-5.65zm1.38-3.95a5.63 5.63 0 0 0-5.6-5.64h-2.76a5.63 5.63 0 0 0-5.6 5.64v1.22a8.44 8.44 0 0 0 3.31-2.13 1.28 1.28 0 0 1 1.63-.17c.03.03 3.41 2.22 9.02 2.53zm-29.11 18.01v1.97c0 .04.01.07.04.08l2 1a1.3 1.3 0 0 1-.58 2.47c-.2 0-.4-.05-.58-.14l-.08-.04-3.56 3.59v10.57c0 .72-.58 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-10.57l-3.56-3.6-4.07 2.06c-.5.25-.81.76-.81 1.33v10.78a1.3 1.3 0 0 1-2.58 0v-10.78c0-1.56.86-2.96 2.24-3.65l5.98-3.02a.09.09 0 0 0 .05-.08v-1.97a6.87 6.87 0 0 1-2.76-5.5v-2.78-.05-.01a6.83 6.83 0 0 1 6.8-6.8c3.75 0 6.8 3.08 6.8 6.86v2.78a6.87 6.87 0 0 1-2.75 5.5zm-8.15-9.3c1.64.35 4.9.95 8.32 1.08v-.06c0-2.35-1.9-4.26-4.22-4.26a4.24 4.24 0 0 0-4.1 3.24zm6.56 13.37c-.62-.5-1-1.27-1-2.1v-.78a6.74 6.74 0 0 1-2.93 0v.78c0 .83-.37 1.6-.99 2.1l2.46 2.48zm1.76-9.57v-.12a53.3 53.3 0 0 1-8.44-1.04v1.16c0 2.34 1.9 4.25 4.22 4.25a4.24 4.24 0 0 0 4.22-4.25zm-8.44 18.05v6.95c0 .72-.58 1.3-1.29 1.3a1.3 1.3 0 0 1-1.29-1.3v-6.95c0-.71.58-1.3 1.29-1.3.71 0 1.29.59 1.29 1.3zm79.64-67.2l-6.83 8.83a1.28 1.28 0 0 1-1.8.23 1.3 1.3 0 0 1-.23-1.83l3.84-4.96-80.69 33.4a1.29 1.29 0 0 1-1.68-.7 1.3 1.3 0 0 1 .7-1.7l80.7-33.42-6.2-.81a1.3 1.3 0 0 1-1.12-1.46 1.3 1.3 0 0 1 1.44-1.12l11.02 1.45c.46.06.85.36 1.02.8.18.42.11.92-.17 1.28z')
								g
									g(clip-path='url(#clip-2442)', transform='translate(-389 -1854)')
										use(fill='#784288', xlink:href='#ysoka')

							+e.item-title-text
								h4 Эмиграция
						+e.item-descr
							p Для тех, кто решил покинуть страну в поисках лучшей жизни, английский является обязательным. Для иммигрантов в англоязычных странах которые не говорят на языке это серьезный недостаток не только в социальном но прежде всего в экономическом плане.

					+e.item
						+e.item-title
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='61', height='79', viewbox='0 0 61 79')
								defs
									path#8ph3a(d='M1045.5 1894.36a3.15 3.15 0 0 1-2.67 1.46h-20.48v3.4a3.18 3.18 0 0 1-3.17 3.17h-27.93v42.96h3.38c2.65 0 4.8 2.16 4.8 4.82v3.3c0 .84-.68 1.53-1.53 1.53h-16.37c-.84 0-1.53-.69-1.53-1.54v-3.29a4.82 4.82 0 0 1 4.8-4.82h3.38v-85.95a4.83 4.83 0 0 1 1.54-9.4 4.82 4.82 0 0 1 1.53 9.4v3.75h18.21v-5.04c0-.85.69-1.53 1.53-1.53h31.84a3.18 3.18 0 0 1 2.88 4.5l-6.84 15.12 6.84 15.12c.45.99.37 2.12-.22 3.04zm-55.78-37.78a1.75 1.75 0 0 0 0-3.5 1.75 1.75 0 0 0 0 3.5zm4.9 91.84h-9.82c-.96 0-1.74.79-1.74 1.75v1.75h13.3v-1.75c0-.96-.77-1.75-1.73-1.75zm17.9-85.27h3.24l-3.23-2.16zm6.76 3.08H997.8v1.75a1.53 1.53 0 1 1-3.06 0v-1.75h-3.48v33.09h3.48v-24.77a1.53 1.53 0 1 1 3.06 0v24.77h21.39a.1.1 0 0 0 .1-.1zm23.64 26.36l-7.13-15.76c-.18-.4-.18-.87 0-1.27l7.13-15.76a.1.1 0 0 0 0-.1c-.04-.05-.07-.05-.1-.05h-26.77l5.62 3.76c.4.28.68.75.68 1.28v28.05h20.48c.02 0 .05 0 .09-.05a.1.1 0 0 0 0-.1z')
								g
									g(clip-path='url(#clip-2447)', transform='translate(-985 -1850)')
										use(fill='#784288', xlink:href='#8ph3a')

							+e.item-title-text._mod
								h4 Повышение уверенности в себе
						+e.item-descr
							p Изучение английского - это ценный опыт, который приносит удовольствие в любом возрасте. Радость от первых значимых достижений в изучении языка, может пробудить в человеке большую страсть не только к учебе, но и к жизни в целом.
		//end advantage

		//begin get-course
		+b.SECTION.get-course
			+e.bg(style='background-image: url(static/img/bg/get-course_bg.png)')
			+e.container.container
				+b.section-title.get-course__section-title
					+e.top
						h2 Давайте мы подберем идеальный курс для вас
					+e.back
						h2 Pick up for you

				+e.A.btn.btn._yellow._lg(href='#!') Подобрать курс
		//end get-course

		//begin schedule
		+b.SECTION.schedule
			+e.container.container
				+b.section-title.schedule__section-title
					+e.top
						h2 Расписание занятий
					+e.back
						h2 Timetable of classes
				+e.table
					+e.table-row._title
						+e.table-data._1 Учащиеся
						+e.table-data._2 Стоимость
							br
							| 1 ак. часа
						+e.table-data._3 Режим занятий
						+e.table-data._4 Количество ак. часов в вмесяц

					+e.table-row
						+e.table-data._1 Дети от 3 до 6 лет (в группе до 8 человек)
						+e.table-data._2 520 руб.
						+e.table-data._3 2 раза в неделю по 1.5 ак. часа
						+e.table-data._4 12

					+e.table-row
						+e.table-data._1 Дети от 7 до 10 лет (в группе до 8 человек)
						+e.table-data._2 520 руб.
						+e.table-data._3 2 раза в неделю по 2 ак. часа
						+e.table-data._4 16

					+e.table-row
						+e.table-data._1 Дети от 11 до 13 лет (в группе до 8 человек)
						+e.table-data._2 520 руб.
						+e.table-data._3 2 раза в неделю по 2 ак. часа
						+e.table-data._4 16

					+e.table-row
						+e.table-data._1 Дети от 14 до 17 лет (в группе до 8 человек)
						+e.table-data._2 520 руб.
						+e.table-data._3 2 раза в неделю по 2 ак. часа
						+e.table-data._4 16

					+e.table-row
						+e.table-data._1 Взрослые 18+
						+e.table-data._2 520 руб.
						+e.table-data._3._double
							div 2 раза в неделю по 2 ак. часа
							div 2 раза в неделю по 3 ак. часа
						+e.table-data._4._double
							div 16
							div 24

					+e.table-row
						+e.table-data._1 Группа выходного дня дети 3-6 лет
						+e.table-data._2 520 руб.
						+e.table-data._3 1 раз в неделю по 2 ак. часа
						+e.table-data._4 8

					+e.table-row
						+e.table-data._1 Группа выходного дня дети 7-10 лет
						+e.table-data._2 520 руб.
						+e.table-data._3 1 раз в неделю по 3 ак. часа
						+e.table-data._4 12

					+e.table-row
						+e.table-data._1 Группа выходного дня дети 11-13 лет
						+e.table-data._2 520 руб.
						+e.table-data._3 1 раз в неделю по 3 ак. часа
						+e.table-data._4 12

					+e.table-row
						+e.table-data._1 Группа выходного дня дети 14-17 лет
						+e.table-data._2 520 руб.
						+e.table-data._3 1 раз в неделю по 4 ак. часа
						+e.table-data._4 16

					+e.table-row
						+e.table-data._1 Группа выходного дня взрослые 18+
						+e.table-data._2 520 руб.
						+e.table-data._3 1 раз в неделю по 4 ак. часа
						+e.table-data._4 12

					+e.table-row
						+e.table-data._1 Индивидуально
						+e.table-data._2 1470 руб.
						+e.table-data._3 С учетом индивидуального графика
						+e.table-data._4 12
				+e.table-descr
					p * 1 академический час составляет 40 минут.
		//end schedule

		-
			costList = [{
			classMod: '_1',
			title: 'Групповые занятия',
			price: 'От 4160 руб.',
			listText: ['Возраст от 3-х лет', 'Группы до 8 человек', '2 раза в неделю по 60-80 минут', 'Подготовка к ЕГЭ и ОГЭ по английскому', 'Тестирование', 'Бесплатное пробное занятие', 'Сертификат']
			}, {
			classMod: '_2',
			title: 'Индивидуальные занятия',
			price: 'от 1470 руб.',
			listText: ['Возраст: от 3х лет', 'от 40 минут', 'Бесплатное тестирование']
			}, {
			classMod: '_3',
			title: 'Подготовка к ЕГЭ, ОГЭ',
			price: 'от 8300 руб.',
			listText: ['Возраст: 8-11 класс', 'Группы: до 8 человек', '2 раза в неделю по 80 минут', 'или индивидуально 2 раза в неделю от 60 минут']
			}]
		include ../components/cost

		-
			teachersList = [{
			img: 1,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 2,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 3,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 4,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 5,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 6,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 7,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 4,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}, {
			img: 5,
			name: 'Павел Савчук',
			descr: 'Преподаватель актерского мастерства на английском'
			}]
		include ../components/teachers

		//begin first-step
		+b.SECTION.first-step(style='background-image: url(static/img/bg/first-step_bg.jpg)')
			+e.container.container
				+b.section-title.first-step__section-title
					+e.top
						h2 Первый шаг к цели! Бесплатное пробное занятие
					+e.back
						h2 First step

				+e.form-wrap
					+order-form('_first-step', null, 'Ваше имя', 'Ваш e-mail', 'Телефон')
				//end first-step